<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm">

    <!-- Navbar brand -->
    <a class="navbar-brand d-flex align-items-center" href="#" routerLink="services">
        <img class="brand-logo" src="https://apddcf.ap.gov.in/cdn/img/ap-logo.png" style="width: 50px">
        <h5 class="brand-text text-success mb-0 font-weight-bold ml-1">Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)</h5>
    </a>

</nav>
<!--/.Navbar-->

<div class="err-container">
    <div class="err-body h-100">
        <div class="row m-0 h-100">
            <div class="col-md-6 mx-auto mt-5 text-center">
                <img src="https://apddcf.ap.gov.in/cdn/amul/img/404.png" class="err-icon">
                <h1 class="err-number">404</h1>
                <h5 class="err-title text-danger">PAGE NOT FOUND</h5>
                <h6 class="mb-md-4 text-dark font-weight-bold">Sorry, but the page that you requested doesn't exist.</h6>
                <a class="btn btn-success err-btn font-weight-bold" href="#" routerLink="/">Continue to Home Page
                    <i class="fa fa-arrow-right ml-1" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>
</div>
