<div class="row">
    <div class="col mb-2">
        <div class="stats-card success dropdown-item" (click)="TenderDetailsClick('1')">

            <div class="overlay"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="stats-text">
                        <p class="text-uppercase text-muted mb-1">
                            <small>TENDER DETAILS</small>
                        </p>
                        <!-- <h5 class="font-weight-bold mb-0">
                  {{ dashboardCounts.Approve }}
                </h5> -->
                    </div>
                    <div class="circle">
                        <i class="fas fa-check-double"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="stats-card success" (click)="TenderDetailsClick('2')">

            <div class="overlay"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="stats-text">
                        <p class="text-uppercase text-muted mb-1">
                            <small>COMMERCIAL <br>STAGE DETAILS</small>
                        </p>
                        <!-- <h5 class="font-weight-bold mb-0">
                {{ dashboardCounts.Approve }}
              </h5> -->
                    </div>
                    <div class="circle">
                        <i class="fas fa-check-double"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="stats-card success" (click)="TenderDetailsClick('3')">

            <div class="overlay"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="stats-text">
                        <p class="text-uppercase text-muted mb-1">
                            <small>REVERSE AUCTION DETAILS</small>
                        </p>
                        <!-- <h5 class="font-weight-bold mb-0">
                {{ dashboardCounts.Approve }}
              </h5> -->
                    </div>
                    <div class="circle">
                        <i class="fas fa-check-double"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="stats-card success" (click)="TenderDetailsClick('4')">

            <div class="overlay"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="stats-text">
                        <p class="text-uppercase text-muted mb-1">
                            <small>TENDER SANCTIONED <br>FIRM SELECTION</small>
                        </p>
                        <!-- <h5 class="font-weight-bold mb-0">
                {{ dashboardCounts.Approve }}
              </h5> -->
                    </div>
                    <div class="circle">
                        <i class="fas fa-check-double"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="stats-card success" (click)="TenderDetailsClick('5')">
            <div class="overlay"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="stats-text">
                        <p class="text-uppercase text-muted mb-1">
                            <small>EMD REFUND DETAILS</small>
                        </p>
                        <!-- <h5 class="font-weight-bold mb-0">
                {{ dashboardCounts.Approve }}
              </h5> -->
                    </div>
                    <div class="circle">
                        <i class="fas fa-check-double"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-2">
        <div class="stats-card success" (click)="TenderDetailsClick('6')">
            <div class="overlay"></div>

            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="stats-text">
                        <p class="text-uppercase text-muted mb-1">
                            <small>LOA DETAILS</small>
                        </p>
                         
                    </div>
                    <div class="circle">
                        <i class="fas fa-check-double"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="card"  >
    <div class="card-body">
        <div class="row">


            <div class="col-md-2"   style="text-align: right;">
                <label for="UninonId">  Financial Year
                  <span style="color: red">*</span></label>
              </div> 
            <div class="form-group col-md-2" >
             
            <select id="fyID"  class="form-control" [(ngModel)]="fyID"     (change)="fyIDChange();">                
              <option disabled selected value="undefined">-- Financial Year --</option>
              <option  value="{{ obj.ID }}"   *ngFor="let obj of Financialyeardata"    > {{ obj.PAYMODE }}  </option>
            </select>
              </div>
        


            <div class="col-md-2">
                <div class="form-group">
                    <label for="COMPID">  Component Name <span style="color: red">*</span></label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">


                    <select id="COMPID" class="form-control" [(ngModel)]="COMPID" (change)="componentChange();">
                        <option disabled selected value="undefined">-- SELECT COMPONENT --</option>
                        <option value="{{ obj.COMPID }}" *ngFor="let obj of componentListdata"> {{ obj.COMPNAME }} </option>
                    </select>


                </div>
            </div>


            <div class="col-md-2"></div>
        </div>
        </div>
</div>

<div class="card" *ngIf="clickone">

    <div style="text-align: center;">
        <h5><u>TENDER DETAILS</u></h5>
    </div>
    <br>
    <div class="card-body">
        <!-- <div class="row">


            <div class="col-md-2"   style="text-align: right;">
                <label for="UninonId">  Financial Year
                  <span style="color: red">*</span></label>
              </div> 
            <div class="form-group col-md-2" >
             
            <select id="fyID"  class="form-control" [(ngModel)]="fyID"     (change)="fyIDChange();">                
              <option disabled selected value="undefined">-- Financial Year --</option>
              <option  value="{{ obj.ID }}"   *ngFor="let obj of Financialyeardata"    > {{ obj.PAYMODE }}  </option>
            </select>
              </div>
        


            <div class="col-md-2">
                <div class="form-group">
                    <label for="COMPID">  Component Name <span style="color: red">*</span></label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">


                    <select id="COMPID" class="form-control" [(ngModel)]="COMPID" (change)="componentChange();">
                        <option disabled selected value="undefined">-- SELECT COMPONENT --</option>
                        <option value="{{ obj.COMPID }}" *ngFor="let obj of componentListdata"> {{ obj.COMPNAME }} </option>
                    </select>


                </div>
            </div>


            <div class="col-md-2"></div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <hr style="background-color: brown;" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TenderId">Tender ID <span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="TenderId" placeholder="Enter Tender ID" maxlength="40"
                        (keypress)="keyPressNumbers($event)" [(ngModel)]="TenderId">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="TenderDate">Tender Date <span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select Tender Date'" [(selectedDate)]="TenderDate"></app-date-picker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="TenderNoticeNumber">Tender Notice Number <span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="TenderNoticeNumber" placeholder="Enter Tender Notice Number" maxlength="40"
                        [(ngModel)]="TenderNoticeNumber">
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-md-3">
                <label for="NatureofWork">Nature of Work<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="NatureofWork" placeholder="Enter Nature of Work" [(ngModel)]="NatureofWork">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="StartDateandTime">Bid Document Download Start Date <span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select  Start Date'" [minDate]="minDate" [maxDate]="maxDate"
                        [(selectedDate)]="StartDateandTime"></app-date-picker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ClosingDateandTime">Bid Submission Closing Date <span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select  Closing Date'" [minDate]="minDate"
                        [(selectedDate)]="ClosingDateandTime"></app-date-picker>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <hr style="background-color: brown;" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">

                    <label for="NameOfTheParticipants">Name of The Participants <span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="NameOfTheParticipants" placeholder="Enter Name of The Participants"
                        (keyup.enter)="addItem()" [(ngModel)]="NameOfTheParticipants">

                </div>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-md-3"><br />
                <label for="Processingfeedetails"><b>Processing Fee Details</b></label>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="ProcessingModeofPayment">Mode of Payment <span style="color: red">*</span></label>
                    <select class="form-control" id="ProcessingModeofPayment" [(ngModel)]="ProcessingModeofPaymentID">
                        <option value="">--Select--</option>
                        <option value="{{ obj.ID }}" *ngFor="let obj of ModeOfPaymentList.slice(0, 2)"> {{ obj.PAYMODE }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ProcessingPaymentDate">Payment Date <span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select Payment Date'" [(selectedDate)]="ProcessingPaymentDate"
                        [minDate]="minDate1"></app-date-picker>
                </div>
            </div>
            <div class="col-md-3">
                <label for="ProcessingAmount">Amount <span style="color: red">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee"
                            viewBox="0 0 16 16">
                            <path
                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                            </path>
                        </svg>
                    </span>
                    <input type="text" class="form-control" id="ProcessingAmount" placeholder="Enter DD Amount"
                        [(ngModel)]="ProcessingAmount" (keypress)="decimalFilter($event)">
                </div>
            </div>


        </div>

        <div class="row mt-2">
            <div class="col-md-3"><br />
                <label for="EMDDetails"><b>EMD Details</b></label>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="EMDModeofPayment">Mode of Payment <span style="color: red">*</span></label>
                    <select class="form-select form-control" id="EMDModeofPayment" [(ngModel)]="EMDModeofPaymentID">
                        <option value="">--Select--</option>
                        <option value="{{ obj.ID }}" *ngFor="let obj of ModeOfPaymentList"> {{ obj.PAYMODE }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EMDPaymentDate">Payment Date <span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select Payment Date'" [(selectedDate)]="EMDPaymentDate"></app-date-picker>
                </div>
            </div>
            <div class="col-md-3">

                <label for="EMDAmount">Amount <span style="color: red">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee"
                            viewBox="0 0 16 16">
                            <path
                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                            </path>
                        </svg>
                    </span>
                    <input type="text" class="form-control" id="EMDAmount" placeholder="Enter DD Amount" [(ngModel)]="EMDAmount"
                        (keypress)="decimalFilter($event)">

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
                <div class="form-group"> <br />
                    <button class="btn btn-success" (click)="addItem()">ADD</button>
                    <!-- <i class="fa fa-plus"></i> -->
                </div>
            </div>
        </div>
        <div *ngIf="selectTablesubTender">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-striped ah-table text-center">
                            <thead class="bg-success text-white" style="border: 1px solid white;">

                                <tr>
                                    <th rowspan="2">Name of The Participants</th>
                                    <th colspan="3">Processing Fee Details</th>
                                    <th colspan="3">EMD Details</th>
                                    <!-- <th rowspan="2">Action</th> -->
                                </tr>
                                <tr>
                                    <th>Mode of Payment</th>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                    <th>Mode of Payment</th>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of itemList; let i = index" style="height: 30px!important;">
                                    <td class="text_align_color">{{ item.NameOfTheParticipants }}</td>
                                    <td class="text_align_color">{{ item.ProcessPayment }}</td>
                                    <td class="text_align_color">{{ item.ProcessingDate }}</td>
                                    <td class="text_align_color">{{ item.ProcessingAmount }}</td>
                                    <td class="text_align_color">{{ item.EmdPaymentName }}</td>
                                    <td class="text_align_color">{{ item.EMDDate }}</td>
                                    <td class="text_align_color">{{ item.EMDAmount }}</td>
                                    <!-- <td style="width: 200px;" class="number_align">
                                             <button class="btn btn-danger" style="height: 30px!important;"
                                                (click)="removeItem(i)">Remove</button> 

                                        </td>-->
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" (click)="TenderDetails()">Submit</button>
                </div>
            </div>
        </div>

        <div *ngIf="TenderDataList?.length > 0">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table table-striped ah-table text-center">
                            <thead class="bg-success text-white" style="border: 1px solid white;">

                                <tr>
                                    <th rowspan="2">Name of The Participants</th>
                                    <th colspan="3">Processing Fee Details</th>
                                    <th colspan="3">EMD Details</th>
                                    <!-- <th rowspan="2">Action</th> -->
                                </tr>
                                <tr>
                                    <th>Mode of Payment</th>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                    <th>Mode of Payment</th>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of TenderDataList; let i = index" style="height: 30px!important;">
                                    <td class="text_align_color">{{ item.NAMEOFTHEPARTICIPANTS }}</td>
                                    <td class="text_align_color">{{ item.PROCESSPAYMENT }}</td>
                                    <td class="text_align_color">{{ item.PROCESSINGDATE }}</td>
                                    <td class="text_align_color">{{ item.PROCESSINGAMOUNT }}</td>
                                    <td class="text_align_color">{{ item.EMDPAYMENTNAME }}</td>
                                    <td class="text_align_color">{{ item.EMDDATE }}</td>
                                    <td class="text_align_color">{{ item.EMDAMOUNT }}</td>
                                    <!-- <td style="width: 200px;" class="number_align">
                                                                                   <button class="btn btn-danger" style="height: 30px!important;"
                                                                                      (click)="removeItem(i)">Remove</button> 
                              
                                                                              </td>-->
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>

                      
        </div>


    </div>

</div>


<div class="card" *ngIf="clicktwo">
    <div style="text-align: center;">
        <h5><u>COMMERCIAL STAGE DETAILS</u></h5>
    </div>
    <br>
    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="NameoftheFirm ">Name of the Participants <span style="color: red">*</span></label>
                    <select class="form-select form-control" id="NameoftheFirm" [(ngModel)]="PtidValue">
                        <option value="">--Select--</option>
                        <option value="{{obj.PT_ID}}" *ngFor="let obj of CommericalDataList">{{obj.NAME_OF_THE_PARTICIPANT}}</option>
                    </select>



                </div>
            </div>
            <div class="col-md-3">
                <label for="QuotePrice">Quote Price <span style="color: red">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee"
                            viewBox="0 0 16 16">
                            <path
                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                            </path>
                        </svg>
                    </span>

                    <input type="text" class="form-control" id="QuotePrice" placeholder="Enter Quote Price" [(ngModel)]="QuotePrice"
                        (keypress)="decimalFilter($event)">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Rating">Rating <span style="color: red">*</span></label>
                    <!-- <input type="text" class="form-control" id="Rating" placeholder="Enter Rating" [(ngModel)]="Rating"> -->
                    <select class="form-select form-control" id="Rating" [(ngModel)]="Rating">
                        <option value="">--Select--</option>
                        <option value="{{ obj.ID }}" *ngFor="let obj of RatingLevelList"> {{ obj.PAYMODE }} </option>

                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button id=buttonHC class="btn btn-primary" (click)="CommercialAdd()">Add</button>
            </div>
        </div>



        <div *ngIf="selectTablesub">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped ah-table text-center ">
                        <thead style="background-color: #28a745!important;  color: #fff!important;height: 50px;">
                            <tr>

                                <th>Name of the Select Participants</th>
                                <th>Quote Price</th>
                                <th>Rating</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of CommercialArray; let i = index">
                                <td class="text_align_color">{{ row.Name}}</td>
                                <td class="number_align">{{ row.QuotePrice}}</td>
                                <td class="number_align">{{ row.RatingLevel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" (click)="CommercialSubmit()">Submit</button>
                </div>

                <div class="col-md-5"></div>
            </div>
        </div>
        <div *ngIf="COMMERCIALLIST?.length > 0">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped ah-table text-center ">
                        <thead style="background-color: #28a745!important;  color: #fff!important;height: 50px;">
                            <tr>

                                <th>Name of the Select Participants</th>
                                <th>Quote Price</th>
                                <th>Rating</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of COMMERCIALLIST; let i = index">

                                <td class="text_align_color">{{ row.NAME_OF_THE_PARTICIPANT}}</td>
                                <td class="number_align">{{ row.QUOTE_PRICE}}</td>
                                <td class="number_align">{{ row.RATING}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="card" *ngIf="clickthree">
    <div style="text-align: center;">
        <h5><u>REVERSE AUCTION DETAILS</u></h5>
    </div>
    <br>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1"></div>
            <label for="ReverseAuctionDate"><b>Reverse Auction Date</b></label>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="StartDate">Start Date <span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select Start Date'" [(selectedDate)]="StartDate"></app-date-picker>
                </div>
            </div>
            <div class="col-md-3">

                <label for="EndDate">Start Time <span style="color: red">*</span></label>
                <input id="startTime" type="time" class="form-control" [(ngModel)]="startTime" placeholder="Please Enter Meeting Time"
                    maxlength="8" autocomplete="off" />
            </div>
            <div class="col-md-3">
                <label for="EndDate">End Time <span style="color: red">*</span></label>

                <input id="endTime" type="time" class="form-control" [(ngModel)]="endTime" placeholder="Please Enter Meeting Time"
                    maxlength="8" autocomplete="off" />
                <!-- <label for="EndDate">End Date <span style="color: red">*</span></label>
          <app-date-picker [PlaceHolder]="'Select End Date'" [(selectedDate)]="EndDate"></app-date-picker> -->



            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="col-md-5">



                <label for="ReverseNameoftheFirm">Name of the Participants<span style="color: red">*</span></label>
                <select class="form-select form-control" id="ReverseNameoftheFirm" [(ngModel)]="ReverseNameoftheFirmID">
                    <option value="">--Select--</option>
                    <option value="{{obj.PT_ID}}" *ngFor="let obj of ReverseNameOftheList">{{obj.NAME_OF_THE_PARTICIPANT}}
                    </option>
                </select>

            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="FinalPriceDetails">Final Price Details <span style="color: red">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee"
                                viewBox="0 0 16 16">
                                <path
                                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                                </path>
                            </svg>
                        </span>
                        <input type="text" class="form-control" id="FinalPriceDetails" placeholder="Enter Final Price Details"
                            [(ngModel)]="FinalPriceDetails" (keypress)="decimalFilter($event)">
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">

                <label for="ReverseQuotePrice">Price/Unit<span style="color: red">*</span></label>

                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee"
                            viewBox="0 0 16 16">
                            <path
                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                            </path>
                        </svg>
                    </span>
                    <input type="text" class="form-control" id="ReverseQuotePrice" placeholder="Enter Quote Price"
                        [(ngModel)]="ReverseQuotePrice" (keypress)="decimalFilter($event)">
                </div>

            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="ReverseRating">Rating<span style="color: red">*</span></label>
                    <!-- <input type="text" class="form-control" id="ReverseRating" placeholder="Enter Rating"
                  [(ngModel)]="ReverseRating"> -->
                    <select class="form-select form-control" id="ReverseRating" [(ngModel)]="ReverseRating">
                        <option value="">--Select--</option>
                        <option value="{{ obj.ID }}" *ngFor="let obj of RatingLevelList"> {{ obj.PAYMODE }} </option>
                    </select>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" (click)="ReverseSubmit()">Submit</button>
                <button type="submit" class="btn btn-primary"  (click)="TenderDetailsClick('4')">Skip</button>

            </div>

            <div class="col-md-5"></div>
        </div>

        <div *ngIf="ReverseActionList?.length > 0">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped ah-table text-center ">
                        <thead style="background-color: #28a745!important;  color: #fff!important;height: 50px;">
                            <tr>
                                <th colspan="3">Reverse Auction Date</th>
                                <th rowspan="2">Name of the Select Participants</th>
                                <th rowspan="2">Final Price Details</th>
                                <th rowspan="2">Quote Price</th>
                                <th rowspan="2">Rating</th>
                            </tr>
                            <tr>
                                <th>Start Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of ReverseActionList; let i = index">
                                <td class="number_align">{{ obj.REVERSE_STARTING_TIME}}</td>
                                <td class="number_align">{{ obj.START_TIME}}</td>
                                <td class="number_align">{{ obj.END_TIME}}</td>

                                <td class="text_align_color">{{ obj.NAME_OF_THE_PARTICIPANT}}</td>
                                <td class="text_align_color">{{ obj.FINAL_PRICE_DETAILS}}</td>
                                <td class="number_align">{{ obj.QUOTE_PRICE}}</td>
                                <td class="number_align">{{ obj.RATING}}</td>


                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>



    </div>
</div>

<div class="card" *ngIf="clickfour">
    <div style="text-align: center;">
        <h5><u>TENDER SANCTIONED FIRM SELECTION</u></h5>
    </div>
    <br>
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label for="TenderNameoftheFirm">Name of the Participants<span style="color: red">*</span></label>
                    <select class="form-select form-control" id="TenderNameoftheFirm" [(ngModel)]="TenderNameoftheFirmID">
                        <option value="">--Select--</option>
                         
                        <option value="{{obj.PT_ID}}" *ngFor="let obj of TenderSacntionedNameOftheList">
                            {{obj.NAME_OF_THE_PARTICIPANT}}
                        </option>
                    </select>

                </div>
            </div>
            <div class="col-md-3">
                <label for="TenderQuotePrice">Price/Unit <span style="color: red">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee"
                            viewBox="0 0 16 16">
                            <path
                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z">
                            </path>
                        </svg>
                    </span>
                    <input type="text" class="form-control" id="TenderQuotePrice" placeholder="Enter Quote Price"
                        [(ngModel)]="TenderQuotePrice" (keypress)="decimalFilter($event)">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="TenderRating">Rating<span style="color: red">*</span></label>

                    <select class="form-select form-control" id="TenderRating" [(ngModel)]="TenderRating">
                        <option value="">--Select--</option>
                        <option value="{{ obj.ID }}" *ngFor="let obj of RatingLevelList.slice(0, 5)"> {{ obj.PAYMODE }}
                        </option>

                    </select>
                </div>
            </div>

        </div>
        <div class="row">



            <div class="col-md-12 row">
                <div class="col-md-12 table-responsive">
                    <!-- [hidden]="checkList?.length < 1" -->
                    <table class="table table-striped ah-table text-center" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        data-page-length='25'>
                        <thead class="bg-success text-white">
                            <tr>
                                <th>S.No</th>
                                <th>Component ID</th>
                                <th>Component Name</th>
                                <th>Price</th>
                                <th>ID</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let obj of checkList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td style="text-align: center;" name="{{obj.COMPID}}" id="{{ i + 1 }}">{{ obj.COMPID }}</td>
                                <td style="text-align: left;">{{ obj.COMPNAME }}</td>



                                <td style="text-align: right;">
                                    <input type="text" (keypress)="decimalFilter($event)" name="txt_{{obj.COMPID}}"
                                        id="txtprice_{{ i + 1 }}" />
                                </td>
                               

                                <td style="text-align: left;" >{{ obj.TPID }}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>






        </div>
        <div class="row mt-5">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" (click)="TenderSacntioned()">Submit</button>
            </div>

            <div class="col-md-5"></div>
        </div>

        <div *ngIf="TenderSancationList?.length > 0">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped ah-table text-center ">
                        <thead style="background-color: #28a745!important;  color: #fff!important;height: 50px;">
                            <tr>
                                <!-- <th>Select Participants</th> -->
                                <th>Name of the Select Participants</th>
                                <th>Quote Price</th>
                                <th>Rating</th>
                                <!-- <th>Actions</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of TenderSancationList; let i = index">
                                <!-- <td class="text_align_color">{{ row.NameoftheFirm}}</td> -->
                                <td class="text_align_color">{{ obj.NAME_OF_THE_PARTICIPANT}}</td>
                                <td class="number_align">{{ obj.QUOTE_PRICE}}</td>
                                <td class="number_align">{{ obj.RATING}}</td>

                                <!-- <td class="number_align"><button class="btn btn-danger"
                                                                                                (click)="CommercialremoveData(i)">Remove</button></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="card" *ngIf="clickfive">
    <div style="text-align: center;">
        <h5><u>EMD REFUND DETAILS</u></h5>
    </div>
    <br>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="EMDNameoftheFirm">Name of the Participants<span style="color: red">*</span></label>
                    <select class="form-select form-control" id="EMDNameoftheFirm" [(ngModel)]="EMDNameoftheFirmID">
                        <option value="">--Select--</option>
                        <option value="{{obj.PT_ID}}" *ngFor="let obj of EMDNameOftheList">{{obj.NAME_OF_THE_PARTICIPANT}}
                        </option>
                    </select>

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                  <label for="UninonId">Mode Of Payment
                    <span style="color: red">*</span></label>
                  <select id="ctype"  class="form-control" [(ngModel)]="ctype"  (change)="CTYPEChange();">                
                    <option   selected value="undefined">-- Select Type --</option>
                    <option  value="1" > Online </option>
                    <option  value="2" > Cheque/DD  </option>
                    <option  value="3" > Bank Guarantee</option>
                  </select>
                </div>
              </div>

            <div class="col-md-3">
                <div class="form-group"  >
                    <label for="PaymentID">Payment ID<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="PaymentID" placeholder="Enter Payment ID"
                        (keypress)="keyPressAlphaNumericWithCharacters($event)" maxlength="40" [(ngModel)]="PaymentID">
                </div>
            </div>
           
        </div>

        <div class="row" id="bn">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="BankName">Bank Name<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="BankName" placeholder="Enter Bank Name" [(ngModel)]="BankName"
                        (keypress)="keyPressCharacters($event)">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="CreditIFSCCODE">Credit IFSC CODE<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="CreditIFSCCODE" placeholder="Enter Credit IFSC CODE"
                        [(ngModel)]="CreditIFSCCODE" (keypress)="keyPressAlphaNumericWithCharacters($event)">

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="CreditAccountNumber">Credit Account Number<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="CreditAccountNumber" placeholder="Enter Credit AccountNumber"
                        [(ngModel)]="CreditAccountNumber" (keypress)="keyPressNumbers($event)">

                </div>
            </div>
             
        </div>

        <div class="row"  id="cn">
            <div class="col-md-2"></div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label for="CreditAccountName">Credit Account Name<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="CreditAccountName" placeholder="Enter Credit Account Name"
                        [(ngModel)]="CreditAccountName" (keypress)="keyPressCharacters($event)">
                </div>
            </div>
           
             
        
            <div class="col-md-2">
                <div class="form-group">
                    <label for="RefundStatus">Refund Status<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="RefundStatus" placeholder="Enter Refund Status" maxlength="40"
                        [(ngModel)]="RefundStatus">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="RefundDate">Refund Date<span style="color: red">*</span></label>
                    <app-date-picker [PlaceHolder]="'Select  Closing Refund Date'"   [(ngModel)]="RefundDate"  id="RefundDate" [(selectedDate)]="RefundDate"></app-date-picker>

                </div>
            </div>
           
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="RefTransactionID">Ref Transaction ID<span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="RefTransactionID" placeholder="Enter Ref Transaction ID"
                        (keypress)="keyPressAlphaNumericWithCharacters($event)" maxlength="40" [(ngModel)]="RefTransactionID">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="Remarks">Remarks</label>
                    <textarea class="form-control" id="Remarks" [(ngModel)]="Remarks"></textarea>

                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" style="margin-top: 50px;" class="btn btn-primary" (click)="EMDSubmit()">Submit</button>
            </div>
        </div>
        <!-- <div class="row mt-12">
            <div class="col-md-5"></div>
           

            <div class="col-md-5"></div>
        </div> -->
        <div *ngIf="EMDList?.length > 0">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped ah-table text-center ">
                        <thead style="background-color: #28a745!important;  color: #fff!important;height: 50px;">
                            <tr>
                                <th>Name of the Select Participants</th>
                                <th>Payment ID</th>
                                <th>Bank Name</th>
                                <th>Credit Account Number</th>
                                <th>Credit Account Name</th>
                                <th>Credit IFSC CODE</th>
                                <th>Refund Status</th>
                                <th>Refund Date</th>
                                <th>Ref Transaction ID</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of EMDList; let i = index">
                                <td class="text_align_color">{{ obj.NAME_OF_THE_PARTICIPANT}}</td>
                                <td class="number_align">{{ obj.PAYMENTID}}</td>
                                <td class="number_align">{{ obj.BANK_NAME}}</td>
                                <td class="number_align">{{ obj.CREDIT_ACCOUNT_NUMBER}}</td>
                                <td class="number_align">{{ obj.CREDIT_ACCOUNT_NAME}}</td>
                                <td class="number_align">{{ obj.CREDIT_IFSCCODE}}</td>
                                <td class="number_align">{{ obj.REFUND_STATUS}}</td>
                                <td class="number_align">{{ obj.REFUND_DATE}}</td>
                                <td class="number_align">{{ obj.REF_TRANSACTION_ID}}</td>
                                <td class="number_align">{{ obj.REMARKS}}</td>


                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>

<div class="card" *ngIf="clicksix">
    <div style="text-align: center;">
        <h5><u>LOA DETAILS</u></h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="Remarks">Remarks<span style="color: red">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="Remarksdts" placeholder="Enter Remarks">


                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="File">Proceding File<span style="color: red">*</span></label>
                    <input type="file" class="form-control" [(ngModel)]="ProcedingFile" (change)="Procedingchange($event)"
                        accept="application/pdf" autocomplete="off">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <div class="row mt-5">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" (click)="ProcedingSubmit()">Submit</button>
            </div>

            <div class="col-md-5"></div>
        </div>




    </div>
</div>

