

<script>
 


</script>  
  
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue-green-gradient">
  <!-- Navbar brand -->
  <a class="navbar-brand d-flex align-items-center" style="cursor: pointer">
    <img
      class="brand-logo"
      src="https://apddcf.ap.gov.in/cdn/img/ap-logo.png"
      style="width: 50px"
    />
    <h5 class="brand-text text-white mb-0 font-weight-normal ml-1">
      Andhra Pradesh Dairy Development Cooperative Federation Limited (APDDCF)
    </h5>
  </a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item text-right">
        <a
          class="navbar-brand d-flex align-items-center"
          style="cursor: pointer"
        >
        <img
        class="brand-logo"
        src="https://apddcf.ap.gov.in/cdn/img/CM.png"
        style="width: 50px"
      />
      <div class="text-center">
        <h6 class="brand-text text-white mb-0 font-weight-normal ml-1">
          Sri Nara Chandrababu Naidu
        </h6>
            <p style="font-size: 12px; margin-bottom: 0; color: #fff">
              Hon’ble Chief Minister, <br />
              Andhra Pradesh
            </p>
          </div>  
        </a>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<!--Menu-Navbar -->
<nav
  class="menu-navbar navbar navbar-expand-lg navbar-dark primary-color-dark py-md-0 text-white"
>
  <a class="navbar-brand d-md-none d-block" style="cursor: pointer">MENU</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
   
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
        >
          <h6 class="mb-0 mr-1">
            Welcome <b>{{ userName }}</b>
          </h6>
          <i class="fas fa-user"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-primary"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <!-- <a class="dropdown-item" href="#" routerLink="">Profile</a> -->
          <a class="dropdown-item" style="cursor: pointer" (click)="btnLogout()"
            ><i class="fas fa-sign-out-alt"></i> Logout</a
          >
          <hr class="my-1" />
          <a class="dropdown-item text-center" style="cursor: pointer">
            <span
              >Last logged in: <br />
              <b class="text-danger">{{ lastLoginTime }}</b></span
            >
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Menu-Navbar -->

<!--Main Content -->
<div id="page-container">
  <div id="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header p-2">
              <h5 class="mb-0">Password Update</h5>
            </div>
            <div class="card-body px-md-5">
              <div class="px-md-3">
                <div class="form-group">
                <label>Old Password<sup class="text-danger h6">*</sup></label>
                <input 
                  type="password"   
                  class="form-control"
                  [(ngModel)]="userdata.oldPassword"
                  autocomplete="off"
                  id="oldPassword"
                  maxlength="30"
                />
              </div>
              <div class="form-group">
                <label>New Password<sup class="text-danger h6">*</sup></label>
                <input type="password"
                  class="form-control passwordchange"
                  [(ngModel)]="userdata.newPassword"
                  autocomplete="off"
                  id="newPassword"
                  maxlength="30" 
                 
                  (focusout)="checkStrength($event)"
                />  
                <!-- (keyup)="checkStrength($event)" -->
              </div>
              <div class="form-group">
                <label
                  >Confirm Password<sup class="text-danger h6">*</sup></label >
                <input
                  type="password"
                  class="form-control passwordchange"
                  [(ngModel)]="userdata.confirmPassword"
                  autocomplete="off"
                  id="confirmPassword"
                  maxlength="30"   (focusout)="checkStrength($event)" 
                />
              </div>   
              <!-- onkeyup="checkStrength($event)" -->
            </div>
            <div class="form-group btnresult" >
              <span class="result" style="color:red; font-size: 12px;">
                Note:Mininum 8 - Caps (A) - small(a) - Special (@) - Numbers (1)  Password and confirmPassword not equal</span>
            </div>
          </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-sm btn-primary btnpasswordchange" (click)="btnSubmit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <!--/.Main-Content -->
   
  <!--Footer Content -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center pt-3 pb-2">
      <a style="cursor: pointer; color: #fff">
        <img
          src="https://apddcf.ap.gov.in/cdn/img/apddcf-circle.png"
          style="width: 30px"
        />
        Andhra Pradesh Dairy Development Cooperative Federation Limited
        (APDDCF)
      </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--/.Footer-Content -->
</div>

<script>


// $(document).ready(function () {
//  $('#newPassword').on("keyup","newPassword", function () {
//          alert('ok');
//         });
        
//       });
    //  $(document).ready(function () {
    //   $('#newPassword').on('keyup blur',function () {
    //     alert('ok');
    //  $('.result').html(checkStrength($('#newPassword').val()));
    //   });
      
    //  });
  
  //   function validatePassword() {
  //     var password = $("#newPassword").val();
      
  //     alert("asdf");
  //     if (password.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@%!])[0-9a-zA-Z@%!]{8,}$/))
  //         $("#result").html("pass");
  //     else
  //          $("#result").html("fail");
     
  // }
  
  
  </script>