<configuration>
    <system.web>
        <customErrors mode="Off"/>
    	<httpRuntime enableVersionHeader="false" enableHeaderChecking="true"/>
    </system.web>
	<system.webServer>
		<security>
		<requestFiltering removeServerHeader="true" />
		</security>
		<httpProtocol>
			<customHeaders>
				 
			</customHeaders>
		</httpProtocol>
	    <staticContent>
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
		</staticContent>
		<rewrite>
		  <rules>
			<rule name="Main Rule" stopProcessing="true">
			  <match url=".*" />
			  <conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				<add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
				<add input="{REQUEST_URI}" pattern="^/(token)" negate="true"/>
				<add input="{HTTP_HOST}" pattern="^([a-zA-Z0-9-_]+\.)*apddcf\.ap.gov.in$" negate="true"/>
			  </conditions>
			  <action type="Rewrite" url="/Admin/" />
			</rule>
		  </rules>
		</rewrite>
	</system.webServer>
</configuration>

